#root {
  display: flex;
  flex-flow: row wrap;
}

#root header,
#root form,
#root main {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

section p {
  width: 100%;
  margin: 0 auto;
}

label {
  display: block;
  margin-bottom: 0.5rem;
}

input {
  margin-bottom: 3rem;
}

.showList {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  justify-content: center;
  margin: 0 2rem;
}

.showList article {
  background-color: rgb(212, 212, 212);
  border-radius: 0.4rem;
  padding: 0.4rem;
  max-width: 300px;
  flex: 1 1 300px;
}

.showList article img {
  width: 100%;
  max-width: 300px;
  height: 300px;
  object-fit: cover;
}
